<div>
    <jhi-alert></jhi-alert>

    <h1 class="text-center" style="font-family: 'Baumans';"><span jhiTranslate="sbpApp.pagina.buscaGeral"></h1>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-2">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch"
                        id="currentSearch" name="currentSearch"
                        placeholder="{{ 'sbpApp.pagina.home.search' | translate }}"
                        >
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)"
                        [disabled]="!currentSearch || currentSearch.length < 3">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <br/>

    <div class="alert alert-secondary text-center" *ngIf="!paginas || paginas.length === 0">
        <strong><span jhiTranslate="error.result.not.found"></span></strong>
    </div>

    <div *ngIf="paginas && paginas.length">
        <div class="row justify-content-center mb-3">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
    </div>

    <div class="table-responsive" *ngIf="paginas && paginas.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="documento.diretorio.id" ><span jhiTranslate="sbpApp.pagina.diretorio"></span></th>
                <th jhiSortBy="documento.dataPublicacao" ><span jhiTranslate="sbpApp.documento.anoPublicacao"></span></th>
                <th><span jhiTranslate="sbpApp.pagina.documento"></span></th>
                <th jhiSortBy="numero"><span jhiTranslate="sbpApp.pagina.numero"></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let pagina of paginas ;trackBy: trackId">
                <td>
                    {{pagina.documento?.diretorio?.nome}}
                </td>
                <td>{{pagina.documento.dataPublicacao | date:'yyyy'}}</td>
                <td>
                    {{pagina.documento?.nome}}
                </td>
                <td>{{pagina.numero}}</td>
                <td>
                    <div [innerHTML]="pagina.conteudo | safeHtml" class="text-justify"></div>
                </td>
                <td class="text-right align-middle">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" [routerLink]="['/pagina/view']"
                            [queryParams]="{id: pagina.documento.id, paginaInicial: pagina.numero, paginaFinal: pagina.numero, query: currentSearchClean}"
                            target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="'file-pdf'" size="2x"></fa-icon>
                        </a>

                        <button type="submit" class="btn btn-default btn-sm"
                            (click)="downloadDocumento(pagina.documento)">
                            <fa-icon [icon]="'book'" size="2x"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paginas && paginas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<my-pdf-view-dialog #pdfViewDialog
    [modal]="true">
</my-pdf-view-dialog>
