<div>
    <h2 id="page-heading">
        <span jhiTranslate="sbpApp.diretorio.home.title"></span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diretorio" [routerLink]="['/diretorio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="entity.action.new"></span>
        </button>
    </h2>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
                        placeholder="{{ 'global.form.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <br/>
    <div class="table-responsive" *ngIf="diretorios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="nome"><span jhiTranslate="sbpApp.diretorio.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="descricao"><span jhiTranslate="sbpApp.diretorio.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="restrito"><span jhiTranslate="sbpApp.diretorio.restrito">Restrito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="filtroData"><span jhiTranslate="sbpApp.diretorio.filtroData">Filtro Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diretorio of diretorios ;trackBy: trackId">
                <td>{{diretorio.nome}}</td>
                <td>{{diretorio.descricao}}</td>

                <td>
                    <jhi-boolean [value]="diretorio.restrito"
                        textTrue="Sim"
                        textFalse="Não">
                    </jhi-boolean>
                </td>
                <td>
                    <jhi-boolean [value]="diretorio.filtroData"
                        textTrue="Sim"
                        textFalse="Não">
                    </jhi-boolean>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/diretorio', diretorio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diretorio', diretorio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'diretorio', { outlets: { popup: diretorio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="diretorios && diretorios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
